
  <section class="about-us">
<mat-card class="about-us-card">
    <mat-card-content>
        <h1>Desalloradora Jr web</h1>
        <h2>Gloria </h2>

        <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Inventore dicta
             tenetur atque ipsa cupiditate optio unde minus doloribus, eveniet repellendus, incidunt aut magni 
             quis voluptatibus quidem aspernatur corporis rerum quisquam!
        </p>
        <a href="https://github.com/gloriafercu">
            <img src="../../../assets/img/github.png" width="25px" alt="github"></a>
            <a href="https://www.linkedin.com/in/gloriafernandezcureses/">
            <img src="../../../assets/img/linkedin-500.png" width="25px" alt="linkedin">
            </a>

          
    </mat-card-content>
  </mat-card>
</section>


            
    
              

<section class="about-us">
    <mat-card class="about-us-card">
        <mat-card-content>
            <h1>Desalloradora Jr web</h1>

            <h2>Jeane Santos Bonfim </h2>
            <p>
                Soy una persona en busca de cambio profesional, reorientando mi carrera hacia el área del desarrollo de software, más enfocada en la parte Frontend.

Gracias a mis experiencias laborales he tenido la oportunidad de trabajar con perfiles muy diversos de trabajo, facilitándome la oportunidad de adquirir competencias como el trabajo en equipo, negociación o adaptabilidad.

Me gusta emprender nuevos retos relacionados con el aprendizaje e involucrarme en proyecto que supongan una mejora laboral.

#Javascript #HTML #Angular #Programación
            </p>
            <a href="https://github.com/JeaneBonfim?tab=repositories">
                <img src="../../../assets/img/github.png" width="25px" alt="github"></a>
                <a href="https://www.linkedin.com/in/jeane-santos-bomfim/">
                <img src="../../../assets/img/linkedin-500.png" width="25px" alt="linkedin">
                </a>
        </mat-card-content>
      </mat-card>
    </section>

    <section class="about-us">
        <mat-card class="about-us-card">
            <mat-card-content>
                <h1>Desalloradora Jr web</h1>

                <h2>Vanessa Rodriguez </h2>
                <p>
                    ¡Hola! Permíteme presentarme, soy Vanessa y puedo decir que soy una persona altamente versátil con una formación en ADE, marketing digital, desarrollo web, análisis de datos… 
                    Mi pasión por el aprendizaje continúo me impulsa a buscar constantemente nuevas habilidades y conocimientos. Mi experiencia de vida me ha convertido en una persona independiente,
                     proactiva y capaz de resolver problemas por mi cuenta. Desde los 16 años, he trabajado y estudiado simultáneamente, impartiendo clases, cuidando a personas, contribuyendo en mi hogar 
                     y asumiendo la responsabilidad de cuidar de mi hermana y abuelos. Estas experiencias me han ayudado a crecer tanto personal como profesionalmente, y ahora estoy lista para aplicar mi conjunto
                      diverso de habilidades en un entorno desafiante.
                 </p>
                <a href="https://github.com/vcrl1">
                    <img src="../../../assets/img/github.png" width="25px" alt="github"></a>
                    <a href="https://www.linkedin.com/in/vanessa-rodr%C3%ADguez-l%C3%B3pez-3966ba19a/">
                    <img src="../../../assets/img/linkedin-500.png" width="25px" alt="linkedin">
                    </a>
            </mat-card-content>
          </mat-card>
        </section>

        <section class="about-us">
            <mat-card class="about-us-card">
                <mat-card-content>
                    <h1>Desalloradora Jr web</h1>

                    <h2>Vanesa Valverde </h2>
                    <p>
                        Estoy acabando un curso de desarrollador #Front-end con #Angular con el que he descubierto mi pasión por la #programación, también tengo formación en CC Matemáticas.
                        Estoy interesada en trabajar en departamentos de informática para poder completar mi formación.
                        Vengo del sector de la atención al público y esto me ha aportado la capacidad de trabajar en equipo. Me considero una persona empática, creativa y comprometida con mi trabajo.  
                    </p>
                    <a href="https://github.com/vvalverde76">
                        <img src="../../../assets/img/github.png" width="25px" alt="github"></a>
                        <a href=" https://www.linkedin.com/in/vanesavalverdeturrero/">
                        <img src="../../../assets/img/linkedin-500.png" width="25px" alt="linkedin">
                        </a>
                </mat-card-content>
              </mat-card>
            </section>
  