<section class="about-us">
  <mat-card class="about-us-card" >
    <mat-card-header class="header">
      <mat-card-title class="title">Gloria Fernández</mat-card-title>
      <mat-card-subtitle class="subtitle">Desarrolladora Web</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="../../../assets/img/Gloria.jpg" alt="Foto de Gloria">
    <mat-card-content>
      <p class="content">
        Con más de 10 años de experiencia en investigación, actualmente,
        estoy en un proceso de cambio que me ha llevado a ampliar
        mis conocimientos en el sector tecnológico. Recientemente,
        he completado varios bootcamps de Desarrollo Web Front End
        en Adalab y Fundación Adecco, adquiriendo las competencias
        necesarias para enfrentar los desafíos actuales en esta área.
        Busco trabajar en equipos que lideren proyectos innovadores con un
        impacto positivo en la calidad de vida de las personas.
      </p>
      <div class="icons-footer">
        <a href="https://github.com/gloriafercu">
          <img src="../../../assets/img/github.png" width="25px" alt="github">
        </a>
        <a href="https://www.linkedin.com/in/gloriafernandezcureses/">
          <img src="../../../assets/img/linkedin-500.png" width="25px" alt="linkedin">
        </a>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card class="about-us-card">
    <mat-card-header class="header">
      <mat-card-title class="title">Jeane Santos Bonfim</mat-card-title>
      <mat-card-subtitle class="subtitle">Desarrolladora Web</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="../../../assets/img/Jeane.jpg" alt="Foto de Jeane">
    <mat-card-content>
      <p class="content">
        Soy una persona en busca de cambio profesional, reorientando mi carrera hacia el área del desarrollo de
        software, más enfocada en la parte Frontend.
        Gracias a mis experiencias laborales he tenido la oportunidad de trabajar con perfiles muy diversos de trabajo,
        facilitándome la oportunidad de adquirir competencias como el trabajo en equipo, negociación o adaptabilidad. Me
        gusta emprender nuevos retos relacionados con el aprendizaje e involucrarme en proyecto que supongan una mejora
        laboral.
        #Javascript #HTML #Angular #Programación
      </p>
      <div class="icons-footer">
        <a href="https://github.com/JeaneBonfim?tab=repositories">
          <img src="../../../assets/img/github.png" width="25px" alt="github">
        </a>
        <a href="https://www.linkedin.com/in/jeane-santos-bomfim/">
          <img src="../../../assets/img/linkedin-500.png" width="25px" alt="linkedin">
        </a>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card class="about-us-card">
    <mat-card-header class="header">
      <mat-card-title class="title">Vanessa Rodríguez</mat-card-title>
      <mat-card-subtitle class="subtitle">Desarrolladora Web</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="../../../assets/img/Vanessa.jpg" alt="Foto de Vanessa">
    <mat-card-content>
      <p class="content">
        Profesional en Administración y Marketing Digital con pasión por el desarrollo web.
        Combino habilidades empresariales con conocimientos técnicos para crear soluciones web funcionales.
      </p>
      <div class="icons-footer">
        <a href="https://github.com/vcrl1">
          <img src="../../../assets/img/github.png" width="25px" alt="github">
        </a>
        <a href="https://www.linkedin.com/in/vanessa-rodr%C3%ADguez-l%C3%B3pez-3966ba19a/">
          <img src="../../../assets/img/linkedin-500.png" width="25px" alt="linkedin">
        </a>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card class="about-us-card">
    <mat-card-header class="header">
      <mat-card-title class="title">Vanesa Valverde</mat-card-title>
      <mat-card-subtitle class="subtitle">Desarrolladora Web</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="../../../assets/img/Vanesa.jpg" alt="Foto de Vanesa">
    <mat-card-content>
      <p class="content">
        Estoy acabando un curso de desarrollador #Front-end con #Angular con el que he descubierto mi pasión por la
        #programación, también tengo formación en CC Matemáticas.
        Estoy interesada en trabajar en departamentos de informática para poder completar mi formación. Vengo del sector
        de la atención al público y esto me ha aportado la capacidad de trabajar en equipo. Me considero una persona
        empática, creativa y comprometida con mi trabajo.
      </p>
      <div class="icons-footer">
        <a href="https://github.com/vvalverde76">
          <img src="../../../assets/img/github.png" width="25px" alt="github">
        </a>
        <a href=" https://www.linkedin.com/in/vanesavalverdeturrero/">
          <img src="../../../assets/img/linkedin-500.png" width="25px" alt="linkedin">
        </a>
      </div>
    </mat-card-content>
  </mat-card>
</section>