
  <section class="about-us">
<mat-card class="about-us-card">
    <mat-card-content>
        <h2>Gloria </h2>
        <p>
            Desarolladora web Jr con mas de 4 años de experiencia
        </p>
    </mat-card-content>
  </mat-card>
</section>

<section class="about-us">
    <mat-card class="about-us-card">
        <mat-card-content>
            <h2>Jeane santos Bonfim </h2>
            <p>
                Desarolladora web Jr
            </p>
        </mat-card-content>
      </mat-card>
    </section>

    <section class="about-us">
        <mat-card class="about-us-card">
            <mat-card-content>
                <h2>vanessa </h2>
                <p>
                    Desarolladora Jr con mas de 4 años de experiencia
                </p>
            </mat-card-content>
          </mat-card>
        </section>

        <section class="about-us">
            <mat-card class="about-us-card">
                <mat-card-content>
                    <h2>Vanesa </h2>
                    <p>
                        Desarolladora Jr con mas de 4 años de experiencia
                    </p>
                </mat-card-content>
              </mat-card>
            </section>
  