.about-us {
  padding: 120px 20px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.about-us-card {
  display: flex;
  width: 290px; 
}

.icons-footer {
  display: flex;
  align-items: center;
  justify-content: center;


}

.icons-footer a {
  padding: 20px;

}

.content{
  padding: 25px 5px 0;
}

.header {
  padding: 20px;
}
.title {
  font-size: 22px;
  font-weight: 600;
}

.subtitle {
  font-size: 16px;
  font-weight: 600;
}
mat-card {   width:100px;   height: 800px; }