.logo {
  max-width: 180px;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background-color: var(--primary_color);
  color: var(--white_color);
  height: auto;
}