<nav>

  <mat-toolbar class="navbar">
    <a routerLink="/restaurants" title="Inicio">
      <img src="\assets\img\D_Qchara_logo-transparente.png" class="logo" alt="logo">
    </a>

    <button mat-button [matMenuTriggerFor]="menuAccount" style="font-weight: bold; font-size: 16px;">Tu cuenta
      <mat-icon>
        person
      </mat-icon>
    </button>
    <mat-menu #menuAccount="matMenu">
      <button mat-menu-item *ngIf="!isLoggedIn" routerLink="/auth/login">Iniciar sesión
        <mat-icon> account_circle</mat-icon>
      </button>
      <button mat-menu-item *ngIf="!isLoggedIn" routerLink="/auth/register">Crea tu cuenta
        <mat-icon> person_add</mat-icon>
      </button>
      <button *ngIf="isLoggedIn" (click)="authService.logout()" mat-menu-item>Cerrar sesión
        <mat-icon>logout </mat-icon>
      </button>

    </mat-menu>

  </mat-toolbar>

</nav>