<footer>
    <div class="footer-content">
      <span class="footer-text">Siguenos en:</span>
      <a href="https://www.google.com/">
        <img src="../../../assets/img/facebook.png" width="25px" alt="facebook">
      </a>
      
    </div>

    <div class="footer-content">
      <a href="https://www.google.com/">
        <img src="../../../assets/img/instagram.png" width="25px" alt="Instagram">
      </a>
    </div>

    <div class="footer-content">
      <a href="https://www.google.com/">
        <img src="../../../assets/img/github.png" width="25px" alt="github">
      </a>
    </div>

    <div class="footer-content">
      <a class="footer-content-test" routerLink="../../../about-us">
      <span >¿Quienes somos?</span>
    </a>

    </div>




</footer>
  
