<footer>

  <div class="footer-content">
    <div>
      <span class="footer-text">Siguenos en:</span>
      <a href="/" class="footer-icon">
        <img src="../../../assets/img/facebook_footer.png" width="25px" alt="facebook">
      </a>
    </div>
    <a href="/" class="footer-icon">
      <img src="../../../assets/img/instagram_footer.png" width="25px" alt="Instagram">
    </a>
    <a href="/" class="footer-icon">
      <img src="../../../assets/img/github_footer.png" width="25px" alt="github">
    </a>
    <a class="footer-content-text" routerLink="../../../about-us">
      <span class="footer-text">¿Quienes somos?</span>
    </a>
  </div>
</footer>