<footer>

  <div class="footer-content">
    <div>
      <span class="footer-text">Siguenos en:</span>
      <a href="/" class="footer-icon">
        <img src="../../../assets/img/facebook_footer.png" width="25px" alt="facebook">
      </a>
    </div>
    <a href="/" class="footer-icon">
      <img src="../../../assets/img/instagram_footer.png" width="25px" alt="Instagram">
    </a>
    <a href="/" class="footer-icon">
      <img src="../../../assets/img/github_footer.png" width="25px" alt="github">
    </a>
    <a class="footer-content-text" routerLink="../../../about-us">
      <span class="footer-text">¿Quienes somos?</span>

    </a>

    <div>
      <a class="footer-icon" href="https://docs.google.com/presentation/d/e/2PACX-1vRac_8ErWnHQwHtq-bYoIk76uPn2Ytk3wS9cnqa7fi5zeAnOonfvdP6FbMt1xplm8xhAEmDbmFGRc_q/pub?start=false&loop=false&delayms=60000 ">
        <span class="footer-text">Presetación</span>
      </a>
    </div>
  </div>

 

</footer>