footer {
  background-color: #FF9F1C;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
  }
  
  .footer-content {
    display: flex;
    align-items: center;
  }
  
  .footer-text {
    color: #333;
    font-size: 14px;
    margin-right: 10px;
  }
  
  .footer-icon {
    color: #333;
    font-size: 18px;
    margin-right: 5px;
  }
  
  