<section class="container-user-detail">
    <h2>Lista De Usuarios</h2>
    <div class="content-table">
        <table mat-table [dataSource]="users" class="mat-elevation-z8 custom_table">
            <ng-container matColumnDef="userName">
                <th mat-header-cell *matHeaderCellDef style="font-weight: 600; ">Usuario</th>
                <td mat-cell *matCellDef="let user">{{ user.userName}}</td>
            </ng-container>
            <ng-container matColumnDef="role">
                <th mat-header-cell *matHeaderCellDef style="font-weight: 600;">Tipo de usuario</th>
                <td mat-cell *matCellDef="let user">{{ user.role}}</td>
            </ng-container>
            <ng-container matColumnDef="restaurant">
                <th mat-header-cell *matHeaderCellDef style="font-weight: 600;">Restaurante Asociado</th>
                <td mat-cell *matCellDef="let user">{{ user.restaurant?.name}}</td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>

    </div>
</section>