<section class="container-detail" *ngIf="restaurant">
    <div class="container-cover">
        <div class="container-img" *ngFor="let img of restaurant.images ">
            <img src="{{ img }}" alt="foto del restaurante {{ restaurant.name }}">
        </div>
    </div>

    <mat-grid-list cols="3" rowHeight="125px">
        <mat-grid-tile rowspan="2">
            <div>
                <h2>Restaurante: {{ restaurant.name }}</h2>
                <p>Dirección: {{ restaurant.address }}</p>
                <p>Teléfono: {{ restaurant.phone }}</p>
                <p>{{ restaurant.web }}</p>
                <p>{{ restaurant.mail }}</p>
            </div>

        </mat-grid-tile>

    </mat-grid-list>
    <h3>Opiniones:</h3>
    <div class="container-comments" *ngFor="let comment of comments ">
        <p>{{comment.description}}</p>
        <p>Id usuario: {{comment.userId}}</p>
        <mat-list *ngIf="user">
            <mat-list-item>
                <div matListItemTitle>
                    <a [routerLink]="['/users', user.id]">
                        {{user.fullName}}
                    </a>
                </div>
            </mat-list-item>
        </mat-list>
    </div>
</section>