<section class="container-detail" *ngIf="restaurant">
    <section class="container-cover">
        <div class="container-img" *ngFor="let photo of restaurant.photos">
            <img [src]="'http://localhost:3000/uploads/' + photo" alt="foto de {{ restaurant.name }}">
        </div>
    </section>

    <section class="container-title-restaurant">
        <div>
            <h2 class="title-restaurant">{{ restaurant.name }}</h2>
            <div class="type-food">
                <mat-icon>restaurant</mat-icon>
                <span>{{ restaurant.typeFood }}</span>
            </div>
        </div>
        <button mat-button class="button" [routerLink]="['/bookings/restaurant', restaurant.id]">
            <!-- *ngIf="restaurant.id !== user.restaurant.id " -->
            <mat-icon class="tab-icon">
                calendar_month
            </mat-icon>
            Haz tu Reserva
        </button>
    </section>

        <!-- <button mat-button class="button" [routerLink]="['/restaurant/my-restaurant']">
             *ngIf="restaurant.id === user.restaurant.id " 
            <mat-icon class="tab-icon">
               wifi_home
            </mat-icon>
            Edita tu Restaurante
        </button>
    </section> -->
    


    <mat-tab-group class="container-tab-group">
        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon class="tab-icon">
                    info
                </mat-icon>
                Información
            </ng-template>
            <div class="container-info">
                <div class="info">
                    <div class="icon-info">
                        <mat-icon>location_on</mat-icon>
                        <span>{{ restaurant.address }}</span>
                    </div>
                    <div class="icon-info">
                        <mat-icon>phone</mat-icon>
                        <span>{{ restaurant.phone }}</span>
                    </div>
                    <div class="icon-info">
                        <mat-icon>link</mat-icon>
                        <a href="{{ restaurant.web }}">
                            <span>{{ restaurant.web }}</span>
                        </a>
                    </div>
                    <div class="icon-info">
                        <mat-icon>mail</mat-icon>
                        <span>{{ restaurant.email }}</span>
                    </div>
                </div>
                <div class="iframe">
                    <iframe [src]="restaurant.iframe | safe" width="400" height="300" style="border-radius: 10px;"
                        allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"
                        title="location restaurant"></iframe>
                </div>
            </div>

        </mat-tab>

        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon class="tab-icon">
                    reviews
                </mat-icon>
                Opiniones
            </ng-template>

            <div *ngIf="comments.length === 0" style="text-align: center; min-height: 100px; margin-top: 50px;">
                No hay opiniones disponibles en este momento.
            </div>
            <div *ngIf="comments.length > 0" class="restaurant-overview-header">
                <span class="icon">
                    <mat-icon>star</mat-icon>
                    {{ average }}
                </span>
                <span class="icon">
                    <mat-icon>mode_comment</mat-icon>
                    {{ comments.length}} opiniones
                </span>
            </div>

            <section class="container-comments">
                <mat-card *ngFor="let comment of comments" class="card-item">
                    <mat-card-header>
                        <mat-card-title-group>
                            <div class="container-data-user">
                                <img class="avatar-img" [src]="'http://localhost:3000/uploads/' + comment.user!.avatar"
                                    alt="user avatar" />

                                <div class="content-user">
                                    <mat-card-title>{{ comment.user?.userName }}</mat-card-title>
                                    <mat-card-subtitle>{{ comment.createdDate | date: 'dd/MM/YYYY'
                                        }}</mat-card-subtitle>
                                </div>
                            </div>
                            <div class="content-rating">
                                <mat-icon>star</mat-icon>
                                <span>{{ comment.rating }}</span>
                            </div>
                        </mat-card-title-group>
                    </mat-card-header>
                    <mat-card-content>
                        <p class="description">{{ comment.description }}</p>
                    </mat-card-content>
                </mat-card>
            </section>
        </mat-tab>
    </mat-tab-group>
</section>