h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

.container-login {
    padding-top: 120px;
}

.login {
    max-width: 450px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.input {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 15px;
}

.button-submit {
    display: flex;
    justify-content: center;
    background-color: var(--primary_color);
    max-width: 280px;
    width: 100%;
    color: var(--white_color);
    font-size: 1.2em;
    height: 50px;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    align-items: center;  
}

.button-submit:disabled {
    background-color: rgb(245, 245, 245);
    color: var(--light_grey_color);
}

.button-submit .icon-form {
    color: var(--white_color);
    margin-right: 12px;
}

.button-submit:disabled .icon-form {
    color: var(--light_grey_color);
    margin-right: 12px;
}

mat-icon {
    color: var(--primary_color);
}