.container-user-detail {
    display: grid;
    /* place-items: center; */
    min-height: 80vh;
    margin-top: 120px;
    justify-content: center;
}

.container-user-detail h2 {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 35px;
    text-align: center;
}

.content-table {
    max-width: 1000px;
    margin-bottom: 200px;
}



.button {
    margin: 0 10px;
}


::ng-deep .content-table .mat-mdc-table {
    max-width: 800px;
    white-space: nowrap;
}