.container-comment-form {
    padding-top: 200px;
}

.button-submit {
    display: flex;
    justify-content: center;
    background-color: var(--primary_color);
    max-width: 280px;
    width: 100%;
    color: var(--white_color);
    font-size: 1.2em;
    height: 50px;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    align-items: center;
    
}
