<h1>Log in</h1>
<form [formGroup]="loginForm">

    <mat-form-field>
        <mat-label>Nombre</mat-label>
        <input matInput type="text" formControlName="firstName">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Apellidos</mat-label>
        <input matInput type="text" formControlName="lastName">
    </mat-form-field>

    <mat-form-field>
        <mat-label>Email</mat-label>
        <input type="email" matInput formControlName="email" placeholder="Ex. pat@example.com">
        <mat-icon matSuffix>email</mat-icon>
        <mat-hint>Te enviaremos un correo para la verificación.</mat-hint>
        <mat-error *ngIf="loginForm.get('email')?.invalid &&
                          loginForm.get('email')?.touched &&
                          loginForm.get('email')?.getError('required')">
            Email obligatorio.
        </mat-error>
        <mat-error *ngIf="loginForm.get('email')?.invalid &&
                          loginForm.get('email')?.touched &&
                          loginForm.get('email')?.getError('email')">
            Formato email incorrecto.
        </mat-error>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Contraseña</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
        <button mat-icon-button matSuffix (click)="hide = !hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="loginForm.get('password')?.invalid &&
              loginForm.get('password')?.touched &&
              loginForm.get('password')?.getError('required')">
            Contraseña obligatoria.
        </mat-error>
        <mat-error *ngIf="loginForm.get('password')?.invalid &&
              loginForm.get('password')?.touched &&
              loginForm.get('password')?.getError('pattern')">
            Contraseña debe ser entre 8 y 20 caracteres utilizando letras, números.
        </mat-error>
    </mat-form-field>


    <button mat-fab extended type="submit" [disabled]="loginForm.invalid">
        <mat-icon>send</mat-icon>
        Enviar
    </button>
</form>