<!-- <h2>Listado de comentarios</h2>


<table mat-table class="mat-elevation-z8">

    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>Id</th>
        <td mat-cell *matCellDef="let comment">{{ comment.id }}</td>
    </ng-container>

    <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef>Comentario:</th>
        <td mat-cell *matCellDef="let comment">{{ comment.description}}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Acciones</th>
        <td mat-cell *matCellDef="let comment">

            <button mat-fab extended color="primary" class="btn-primary" [routerLink]="['/comments', comment.id]">
                <mat-icon>visibility</mat-icon>
                Ver
            </button>

        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

</table> -->

<p style="padding-top: 150px;">Estoy en listado de opiniones por user</p>