<div *ngIf="comments.length === 0" style="text-align: center; min-height: 100px; margin-top: 50px;">
    No hay opiniones disponibles en este momento.
</div>

<section class="container-comment-list" *ngIf="comments.length > 0">
    <h2>Tus opiniones</h2>

    <mat-card class="comment-card" *ngFor="let comment of comments">
        <img mat-card-image [src]="'http://localhost:3000/uploads/' + comment.restaurant.photos?.slice(0,1)"
            alt="foto de {{ comment.restaurant.name }}" class="image">

        <div class="content-card">
            <mat-card-header class="header-card">
                <div class="content-header">
                    <mat-card-title style="font-weight: bold; font-size: 22px;">{{ comment.restaurant.name
                        }}</mat-card-title>
                    <mat-card-subtitle>
                        <span class="icon">
                            <mat-icon>egg</mat-icon>
                            {{ comment.rating }}
                        </span>

                    </mat-card-subtitle>
                </div>
            </mat-card-header>
            <mat-card-content>
                <p>{{ comment.description }}</p>
                <p style="color: grey">{{ comment.createdDate | date: 'dd/MM/YYYY' }}</p>
            </mat-card-content>
        </div>
    </mat-card>

</section>