/* You can add global styles to this file, and also import other style files */


:root {
    --primary_color: #FF9F1C;
    --secondary_color: #FFFFFF;
    --font: Roboto, "Helvetica Neue", sans-serif
}


html,
body {
    height: 100%;
}

body {
    margin: 0;
    font: var(--font);
}

.site {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}