<section class="container-cards" *ngIf="booking">

  <h2>Detalle de la reserva:</h2>

  <mat-card class="mat-card">
    <mat-card-title>Datos Cliente:</mat-card-title>

    <p>reserva nº: {{ booking.id }}</p>
    <strong>Nombre: </strong> <span id="firstName">{{booking.firstName}} </span><br>
    <strong>Apellido: </strong> <span id="lastName">{{booking.lastName}}</span><br>
    <strong>Email: </strong> <span id="email">{{booking.email}}</span><br>
    <strong>Teléfono: </strong> <span id="phone">{{booking.phone}}</span><br>


  </mat-card>
  <mat-card class="mat-card">

    <mat-card-title>Datos Restaurante</mat-card-title>
    <p>
      <strong>Restaurante:</strong><span id="restaurantName">{{ restaurant?.name }}</span><br>
      <strong>Día:</strong> <span id="bookingDate">{{booking.bookingDate | date: 'dd/MM/YYYY' }}</span><br>
      <strong>Hora:</strong> <span id="bookingTime">{{booking.bookingTime}}</span><br>
      <strong>Para:</strong> <span id="bookingTime">{{booking.peopleNumber}}</span><br>
    </p>

    <mat-card-actions>
      <button mat-button class="button" [routerLink]="['/bookings', booking.id, 'edit']">
        <mat-icon class="tab-icon">
          edit
        </mat-icon>
        Editar reserva
      </button>

      <button class="button" mat-raised-button (click)="confirmBooking()" [routerLink]="['/restaurants']">
        <mat-icon class="tab-icon">
          check
        </mat-icon>
        Confirmar
      </button>

      <button mat-button class="button" (click)="confirmCancelBooking()">
        <mat-icon class="tab-icon">
          delete
        </mat-icon>
        Cancelar reserva
      </button>
    </mat-card-actions>

    <!-- Modal para confirmar reserva -->

    <ng-template let-data #myInfoDialog class="modal_confirmation_container">
      <div class="modal_title">
        <h2 mat-dialog-title>Confirmación de reserva #{{ data.id }}</h2>
        <button mat-button mat-dialog-close>X</button>
      </div>
      <div mat-dialog-content class="modal_container">
        <div class="modal_confirmation_content">
          <div class="cover_modal">
            <img src="../../../assets/restaurants_img/confirmation_horizontal.jpg" style="width: 220px;"
              alt="imagen de un restaurante">
          </div>
          <div class="modal_data">
            <h3>Su reserva #{{ data.booking.id }} está confirmada.</h3>
            <p>Nombre: <strong>{{ data.booking.firstName }} {{ data.booking.lastName }}</strong></p>
            <h4>Restaurante: <strong>{{ data.restaurant?.name }}</strong></h4>
            <p>Mesa para: <strong>{{ data.booking.peopleNumber }}.</strong></p>
            <p>Día: <strong>{{data.booking.bookingDate | date: 'dd/MM/YYYY'}}</strong>, a
              las <strong>{{data.booking.bookingTime}} horas.</strong></p>
          </div>
        </div>
        <div class="acknowledgment">
          <p>Le enviaremos un mail con los datos de su reserva.</p>
          <p>¡ Gracias con confiar en nosotros !</p>
        </div>
      </div>
    </ng-template>

    <!-- Modal para cancelar reserva -->

    <ng-template let-data #myCancelDialog class="modal_confirmation_container">
      <div class="modal_title">
        <h1 mat-dialog-title>Cancelar reserva #{{data.booking.id}}</h1>
        <button mat-button mat-dialog-close>X</button>
      </div>
      <div mat-dialog-content>
        ¿Desea cancelar su reserva en el restaurante {{ data.restaurant?.name }}?
      </div>
      <div mat-dialog-actions>
        <button mat-button mat-dialog-close>No</button>
        <button mat-button mat-dialog-close cdkFocusInitial (click)="deleteBooking(booking)">Si</button>
      </div>
    </ng-template>

  </mat-card>
</section>