<h2 class="title-booking">DETALLE DE LA RESERVA</h2>
<section class="container-cards" *ngIf="booking">
  <div class="content-card">
    <div class="card-header">
      <div class="background-header"></div>
      <span class="booking-title">Reserva </span>

      <div class="booking-id">
        <span>#</span>
        <span>{{ booking.id }}</span>
      </div>
      <button mat-fab class="button-edit" [routerLink]="['/bookings', booking.id, 'edit']">
        <mat-icon class="tab-icon">
          edit
        </mat-icon>
      </button>
    </div>

    <div class="container-data">
      <section class="container-data-client">
        <h2>DATOS CLIENTE</h2>
        <div class="data">
          <h3>NOMBRE</h3>
          <p>{{ booking.firstName }}</p>
        </div>
        <div class="data">
          <h3>APELLIDOS</h3>
          <p>{{ booking.lastName }}</p>
        </div>
        <div class="data">
          <h3>EMAIL</h3>
          <p>{{ booking.email }}</p>
        </div>
        <div class="data">
          <h3>TELÉFONO</h3>
          <p>{{ booking.phone }}</p>
        </div>
      </section>

      <section class="container-data-restaurant">
        <h2>DATOS RESTAURANTE</h2>
        <div class="data">
          <h3>RESTAURANTE</h3>
          <p>{{ restaurant?.name }}</p>
        </div>
        <div class="data">
          <h3>FECHA</h3>
          <p>{{ booking.bookingDate | date: 'dd/MM/YYYY' }}</p>
        </div>
        <div class="data">
          <h3>HORA</h3>
          <p>{{ booking.bookingTime }}</p>
        </div>
        <div class="data">
          <h3>Nº PERS. </h3>
          <p>{{ booking.peopleNumber }}</p>
        </div>
        <div class="data">
          <h3>OBSERVACIONES</h3>
          <p>{{ booking.notes }}</p>
        </div>
      </section>
    </div>
  </div>

  <section class="button-actions">
    <button mat-raised-button class="button" color="warn" (click)="confirmCancelBooking()">
      <mat-icon class="tab-icon">
        delete
      </mat-icon>
      Cancelar
    </button>
    <button mat-raised-button class="button" color="accent" (click)="confirmBooking()" [routerLink]="['/restaurants']">
      <mat-icon class="tab-icon">
        done_outline
      </mat-icon>
      Confirmar
    </button>
  </section>

  <!-- Modal para confirmar reserva -->

  <ng-template let-data #myInfoDialog>
    <div class="modal_title">
      <h2 mat-dialog-title>Confirmación de reserva #{{ data.booking.id }}</h2>
      <button mat-mini-fab mat-dialog-close class="button-close">
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <div mat-dialog-content class="modal_container">
      <div class="modal_confirmation_content">
        <div class="cover_modal">
          <img src="../../../assets/img/confirmacionReserva.jpg" style="width: 220px;" alt="imagen de un restaurante">
        </div>
        <div class="modal_data">
          <p>Su reserva <span><strong>#{{ data.booking.id }}</strong></span> está confirmada.</p>
          <p>Nombre: <span><strong>{{ data.booking.firstName }} {{ data.booking.lastName }}</strong></span></p>
          <p>Restaurante: <span><strong>{{ data.restaurant?.name }}</strong></span></p>
          <p>Mesa para: <span><strong>{{ data.booking.peopleNumber }}.</strong></span></p>
          <p>Día: <span><strong>{{data.booking.bookingDate | date: 'dd/MM/YYYY'}}</strong></span>, a las
            <span><strong>{{data.booking.bookingTime}} horas</strong></span>.
          </p>
        </div>
      </div>
      <div class="acknowledgment">
        <p>Le enviaremos un mail con los datos de su reserva.</p>
        <p>¡ Gracias con confiar en nosotros !</p>
      </div>
    </div>
  </ng-template>

  <!-- Modal para cancelar reserva -->

  <ng-template let-data #myCancelDialog>
    <div class="modal_title">
      <h2 mat-dialog-title class="text">Cancelar reserva #{{data.booking.id}}</h2>
      <button mat-mini-fab mat-dialog-close class="button-close">
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <div mat-dialog-content class="dialog-content">
      <p class="text">¿Desea cancelar su reserva en el restaurante <strong>{{ data.restaurant?.name }}</strong>?</p>
    </div>
    <div mat-dialog-actions class="button-actions">
      <button mat-raised-button mat-button color="warn" mat-dialog-close class="center">No</button>
      <button mat-raised-button mat-button color="accent" mat-dialog-close cdkFocusInitial
        (click)="deleteBooking(booking)" class="center">Si</button>
    </div>
  </ng-template>
</section>