<div class="title-form">
  <h2>Formulario de reserva</h2>
</div>

<form [formGroup]="bookingForm" (ngSubmit)="save()" class="bookingForm">
  <input type="hidden" formControlName="id">
  <!-- ¿¿Quizás haya que hacerlo también con userId?? -->
  <div class="inputs-data-booking">
    <mat-form-field class="input-people">
      <mat-label>Nº de Personas</mat-label>
      <mat-select formControlName="peopleNumber" name="peopleNumber">
        <mat-option *ngFor="let num of numPeople" [value]="num">
          {{ num }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="bookingForm.get('peopleNumber')?.invalid && bookingForm.get('peopleNumber')?.touched">Debes elegir nº personas</mat-error>
      <mat-hint>Elige nº personas</mat-hint>
    </mat-form-field>
  
    <div class="inputs-container datetime">
      <mat-form-field class="input">
        <mat-label>Elige fecha</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="bookingDate" [min]="minDate">
        <mat-hint>DD/MM/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
  
      <mat-form-field class="input">
        <mat-label>Selecciona hora</mat-label>
        <mat-select formControlName="bookingTime" name="bookingTime">
          <mat-option *ngFor="let time of times" [value]="time">
            {{ time }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="bookingForm.get('bookingTime')?.invalid && bookingForm.get('bookingTime')?.touched">Debes elegir una hora</mat-error>
      </mat-form-field>
    </div>
  </div>
  

  <div class="inputs-container">
    <mat-form-field class="input">
      <mat-label>Nombre</mat-label>
      <input matInput formControlName="firstName">
      <mat-error *ngIf="bookingForm.get('firstName')?.invalid && bookingForm.get('firstName')?.touched">Nombre
        obligatorio</mat-error>
    </mat-form-field>

    <mat-form-field class="input">
      <mat-label>Apellidos</mat-label>
      <input matInput formControlName="lastName">
      <mat-error *ngIf="bookingForm.get('lastName')?.invalid && bookingForm.get('lastName')?.touched">Apellidos
        obligatorios</mat-error>
    </mat-form-field>
  </div>

  <div class="inputs-container">
    <mat-form-field class="input">
      <mat-label>Teléfono</mat-label>
      <input matInput formControlName="phone" required>
      <mat-icon matPrefix class="icon-form">phone</mat-icon>
      <mat-hint>Tfnos. empiezan: 6, 7 o 9</mat-hint>
      <mat-error *ngIf="bookingForm.get('phone')?.getError('pattern')">
        Formato Tfno. incorrecto
      </mat-error>
    </mat-form-field>

    <mat-form-field class="input">
      <mat-label>Email</mat-label>
      <input type="email" matInput formControlName="email" placeholder="Ex. pat@example.com">
      <mat-icon matSuffix class="icon-form">email</mat-icon>
      <mat-hint>Indique email verificación</mat-hint>
      <mat-error *ngIf="bookingForm.get('email')?.invalid &&
                      bookingForm.get('email')?.touched &&
                      bookingForm.get('email')?.getError('required')">
        Email obligatorio
      </mat-error>
      <mat-error *ngIf="bookingForm.get('email')?.invalid &&
                      bookingForm.get('email')?.touched &&
                      bookingForm.get('email')?.getError('email')">
        Formato email incorrecto
      </mat-error>
    </mat-form-field>
  </div>

  
    <mat-form-field class="input-textarea">
      <mat-label>Observaciones</mat-label>
      <textarea matInput #message maxlength="300" rows="2" placeholder="Escribe si tienes alguna observación..."
        formControlName="notes"></textarea>
      <mat-hint align="end">{{message.value.length}} / 300</mat-hint>
    </mat-form-field>
  

  <button mat-button disabled extended type="submit" [disabled]="bookingForm.invalid" class="button-submit">
    <mat-icon class="icon-form">send</mat-icon>
    Enviar
  </button>

</form>