.title-form {
  padding: 135px 20px 20px;
  text-align: center;
  max-width: 450px;
  margin: 0 auto;

}

.title-form h2 {
  font-size: 28px;
  line-height: 1;
}

.bookingForm {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 20px 35px;
  width: 90%;
  max-width: 450px;
}

.icon-form {
  color: var(--primary_color);
}

.inputs-container {
  display: flex;
  justify-content: space-between;
  width: 100%;

}

.inputs-data-booking {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.input-datetime {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.input-people,
.input-textarea {
  width: 100%;
  margin-bottom: 8px;
}

.input,
.input-datetime {
  width: 49%;
  margin-bottom: 8px;
}

.button-submit {
  display: flex;
  align-content: center;
  justify-content: center;
  background-color: var(--primary_color);
  max-width: 280px;
  width: 100%;
  color: var(--white_color);
  font-size: 1.2em;
  height: 50px;
  font-weight: bold;
  justify-self: center;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.button-submit:disabled {
  background-color: rgb(245, 245, 245);
  color: var(--light_grey_color);
}

.button-submit .icon-form {
  color: var(--white_color);
  margin-right: 12px;
}

.button-submit:disabled .icon-form {
  color: var(--light_grey_color);
  margin-right: 12px;
}

mat-hint {
  color: var(--green_color);
  font-weight: 500;
}

@media screen and (min-width: 768px) {

  .title-form,
  .bookingForm {
    max-width: 700px;
  }

  .inputs-data-booking {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }

  .input-people {
    width: 32%;
  }

  .datetime {
    width: 66%;
  }

  .datetime .input {
    justify-content: flex-start;
    width: 48.5%;
  }

}