<section class="container-cards" *ngIf="user">

    <mat-card class="mat-card">
        <h2>Tu perfil </h2>
        <p>usuario nº {{user.id}}</p>
        <p>Nombre: {{user.firstName}}</p>
        <p>Apellido: {{user.lastName}}</p>
        <p>email:{{user.email}}</p>
        <p>Teléfono: {{user.phone}}</p>
        <p>Nombre de usuario:{{user.username}}</p>
        <p>Avatar:{{user.avatar}}</p>

        <mat-card-actions>
            <button mat-button class="button" [routerLink]="['/register', user.id, 'edit']">
                <mat-icon class="tab-icon">
                    edit
                </mat-icon>
                Editar registro
            </button>

            <button mat-button class="button" [routerLink]="['/register']">
                <mat-icon class="tab-icon">
                    check
                </mat-icon>
                Confirmar registro
            </button>
            <button mat-button class="button" (click)="open(content)">
                <mat-icon class="tab-icon">
                    delete
                </mat-icon>
                Cancelar registro
            </button>
        </mat-card-actions>

        <!-- Modal para cancelar reserva -->

        <ng-template #content let-c="close" let-d="dismiss">
            <div class="modal-header">
                <h3 class="modal-title" id="modal-basic-title">Cancelar registro </h3>
                <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
            </div>
            <div class="modal-body">
                <p>¿Desea cancelar su registro?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">No</button>
                <button type="button" class="btn btn-outline-dark" (click)="c(deleteUser(user))">Si</button>
            </div>
        </ng-template>


    </mat-card>
</section>