<div class="container-user-detail">
    <h2>Mi Perfil</h2>

    <form [formGroup]="userForm" (ngSubmit)="save()" class="userProfile">
        <input type="hidden" formControlName="id">
        <mat-form-field class="input">
            <mat-label>Nombre</mat-label>
            <input matInput type="text" formControlName="firstName">
        </mat-form-field>
        <mat-form-field class="input">
            <mat-label>Apellido</mat-label>
            <input matInput type="text" formControlName="lastName">
        </mat-form-field>
        <mat-form-field class="input">
            <mat-label>Username</mat-label>
            <input matInput type="text" formControlName="userName">
        </mat-form-field>

        <mat-form-field class="input">
            <mat-label>Email</mat-label>
            <input type="email" matInput formControlName="email" placeholder="hola@hola.com">
            <mat-icon matSuffix class="icon-form">email</mat-icon>
        </mat-form-field>
        <mat-form-field class="input">
            <mat-label>Teléfono</mat-label>
            <input matInput type="text" formControlName="phone">
            <mat-icon matSuffix class="icon-form">phone</mat-icon>
        </mat-form-field>
        <button mat-button routerLink="/users/avatar" class="input">
            <mat-icon>photo_camera</mat-icon>
            Añade tu avatar
        </button>
        <!-- <button mat-button routerLink="/bookings/booking-list">
            <mat-icon>book</mat-icon>
            Mis reservas
        </button> -->
        <button mat-button extended type="submit" class="button-submit">
            <mat-icon>send</mat-icon>
            Enviar
        </button>
    </form>
</div>