<div class="cover">
    <mat-form-field>
        <mat-label>Tipos de comidas</mat-label>
        <mat-select matNativeControl required>

            <mat-option value="0" (click)="getAllRestaurants()">Todas</mat-option>

            <mat-option *ngFor="let typeFood of food" value="{{typeFood}}"
                (click)="getByTypeFood(typeFood)">{{typeFood}}</mat-option>

        </mat-select>
    </mat-form-field>

    <mat-form-field>

        <mat-label>Ciudades</mat-label>
        <mat-select matNativeControl required>
            <mat-option value="0" (click)="getAllRestaurants()">Todas</mat-option>

            <mat-option *ngFor="let city of cities" value="{{city}}" (click)="getByCity(city)">{{city}}</mat-option>
        </mat-select>


    </mat-form-field>
</div>




<section class="wrapper">
    <div *ngFor="let restaurant of restaurants | paginate: page_Size: page_number"
        [routerLink]="['/restaurants', restaurant.id]">
        <mat-card class="card-container">
            <div class="image-container">
                <img mat-card-image src="{{ restaurant.images[0] }}" alt="foto de {{ restaurant.name }}">
            </div>
            <mat-card-content class="card-content">
                <h2>{{ restaurant.name }}</h2>
                <p class="card-content-icon">
                    <mat-icon>
                        location_city
                    </mat-icon>
                    {{ restaurant.city }}
                </p>
                <p class="card-content-icon">
                    <mat-icon>
                        restaurant
                    </mat-icon>
                    {{ restaurant.typeFood }}
                </p>
                <div class="content-ng-rating">
                    <p class="rating"><b>{{ restaurant.rating }}</b></p>
                    <ng-template #t let-fill="fill">
                        <i class="bi-egg-fill">
                            <i *ngIf="fill > 0" class="bi-egg-fill filled" [style.width.%]="fill"></i>
                        </i>
                    </ng-template>

                    <ngb-rating [(rate)]="restaurant.rating" [starTemplate]="t" [readonly]="true" [max]="5"
                        [ariaValueText]="ariaValueText"></ngb-rating>
                </div>



            </mat-card-content>
        </mat-card>
    </div>
</section>

<mat-paginator class="paginator" #paginator [length]="results_length" [pageSize]="page_Size"
    [pageSizeOptions]="pageSizeOptions" (page)="handleEvent($event)" showFirstLastButtons
    aria-label="Selecciona una página">
</mat-paginator>