<h1>Listado de restaurantes</h1>


<div class="wrapper">
    <div *ngFor="let restaurant of restaurants | paginate: page_Size: page_number" [routerLink]="['/restaurants', restaurant.id]">
        <mat-card class="card-container">
            <div class="image-container">
                <img mat-card-image src="{{ restaurant.urlImg }}" alt="foto de {{ restaurant.name }}">
            </div>
            <mat-card-content>
                <h2>{{ restaurant.name }}</h2>
                <p>{{ restaurant.city }}</p>
                <p>{{ restaurant.typeFood }}</p>
                <p>{{ restaurant.rating }}</p>
            </mat-card-content>
        </mat-card>
    </div>
</div>
<mat-paginator class="paginator" #paginator [length]="results_length" [pageSize]="page_Size" [pageSizeOptions]="pageSizeOptions"
    (page)="handleEvent($event)" showFirstLastButtons aria-label="Selecciona una página">
</mat-paginator>


