@import "~bootstrap-icons/font/bootstrap-icons.css";

/* cover */

.cover {
    background-image: url('../../../assets/img85.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 88vh;
    width: 100%;

}

.cover-filter {
    display: flex;
    background-color: var(--green_color);
    height: 80px;
    margin-bottom: 50px;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.container-filter {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    height: 100px;
    margin: 0 auto;
    padding: 0 20px;
}

.container1 {
    width: 64%;
    display: flex;
    justify-content: space-between;
}

.container1 .input.city, .container1 .input.price {
    width: 21.5%;
}
.container1 .input.food {
    width: 30%;
}
.container1 .input.rate{
    width: 23.5%;
}

.container2 {
    width: 36%;
}

.container2 .input {
    width: 100%;
}

.container1 .input mat-icon, .container2 .input mat-icon {
    color: green;
}

::ng-deep .container-filter mat-form-field {
    padding: 0;

}

.title-block {
    position: absolute;
    top: 130px;
    left: 30px;
    width: 30%;
    font-size: 54px;
    line-height: 1.2;
    color: var(--white_color);
    font-weight: 500;
}

:host ::ng-deep .mat-mdc-select-arrow,
:host ::ng-deep .mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-floating-label,
:host ::ng-deep .mat-mdc-form-field.mat-focused.mat-primary .mat-mdc-select-arrow {
    color: rgb(11, 87, 11);
}


:host ::ng-deep .mdc-text-field--filled .mdc-line-ripple,
:host ::ng-deep .mdc-text-field--filled .mdc-line-ripple::after {
    border-bottom-color: rgb(11, 87, 11);
}



.dinamic-title {
    font-size: 30px;
    font-weight: bold;
    margin: 0 0 50px 0;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
}


.card-container {
    cursor: pointer;
    width: 100%;
}

.card-content {
    padding: 25px 20px;
}

.card-content-icon {
    display: flex;
    align-items: center;

}

.card-content-icon mat-icon {
    color: var(--primary_color);
    margin-right: 10px;
}

.image-container {
    width: 100%;
    height: 250px;
    overflow: hidden;
    position: relative;
}

.image-container img {
    position: absolute;
    left: -10000%;
    right: -10000%;
    top: -10000%;
    bottom: -10000%;
    margin: auto auto;
    min-width: 100%;
    min-height: 100%;
    -webkit-transform: scale(0.6);
    transform: scale(0.6);
}

.paginator {
    margin: 20px 0;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;

    .mat-mdc-paginator-container {
        justify-content: center;
        flex-wrap: wrap;
    }
}

/* Rating */

.content-ng-rating {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.content-ng-rating p {
    margin: 0 auto;
}

.rating {
    padding-right: 6px;
}

.bi-egg-fill {
    position: relative;
    display: inline-block;
    font-size: 1rem;
    padding-right: 0.1rem;
    color: var(--light_grey_color);
}

.filled {
    color: var(--primary_color);
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

.button {
    background-color: var(--green_color);
    max-width: 130px;
    width: 100%;
    color: var(--white_color);
    font-size: 1em;
    height: 40px;
    font-weight: bold;
    justify-self: center;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.contain-button-rating {
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;

}

.contain-info-restaurant {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;

}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .wrapper {
        grid-template-columns: repeat(2, 1fr);
        padding: 0 20px;

    }
}


@media screen and (min-width: 1024px) {
    .wrapper {
        grid-template-columns: repeat(3, 1fr);
        max-width: 1200px;
        margin: 0 auto;
    }

    .dinamic-title-container {
        max-width: 1200px;
        margin: 0 auto;
    }


}