@import "~bootstrap-icons/font/bootstrap-icons.css";

/* cover */
.cover {
    background-image: url('../../../assets/restaurants_img/img_55.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 88vh;
    width: 100%;

}

.cover-filter {
    display: flex;
    background-color: rgb(131, 161, 49);
    height: 80px;
    margin-bottom: 50px;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.container-filter {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    width: 100%;
    height: 100px;
}

::ng-deep .container-filter mat-form-field {
    padding: 0;

}

/* ::ng-deep .mat-mdc-form-field-subscript-wrapper {
    display: none;
} */

.title-block {
    position: absolute;
    top: 140px;
    left: 40px;
    width: 30%;
    font-size: 45px;
    line-height: 1.1;
    color: var(--secondary_color);
}

::ng-deep .mat-mdc-select-arrow,
::ng-deep .mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-floating-label,
::ng-deep .mat-mdc-form-field.mat-focused.mat-primary .mat-mdc-select-arrow {
    color: rgb(11, 87, 11);
}



::ng-deep .mdc-text-field--filled .mdc-line-ripple,
::ng-deep .mdc-text-field--filled .mdc-line-ripple::after {
    border-bottom-color: rgb(11, 87, 11);
}


@media screen and (min-width: 768px) and (max-width: 1023px) {
    .wrapper {
        grid-template-columns: repeat(2, 1fr);
        padding: 0 20px;

    }
}

.dinamic-title {
    font-size: 30px;
    font-weight: bold;
    margin: 0 0 50px 50px;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
}


.card-container {
    cursor: pointer;
    width: 100%;
}

.card-content {
    padding: 25px 20px;
}

.card-content-icon {
    display: flex;
    align-items: center;

}

.card-content-icon mat-icon {
    color: #FF9F1C;
    margin-right: 10px;
}

.image-container {
    width: 100%;
    height: 250px;
    overflow: hidden;
    position: relative;
}

.image-container img {
    position: absolute;
    left: -10000%;
    right: -10000%;
    top: -10000%;
    bottom: -10000%;
    margin: auto auto;
    min-width: 100%;
    min-height: 100%;
    -webkit-transform: scale(0.6);
    transform: scale(0.6);
}

.paginator {
    margin: 20px 0;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;

    .mat-mdc-paginator-container {
        justify-content: center;
        flex-wrap: wrap;
    }
}

/* Rating */

.content-ng-rating {
    display: flex;
    justify-content: flex-end;
}

.rating {
    margin-right: 10px;
}

.bi-egg-fill {
    position: relative;
    display: inline-block;
    font-size: 1rem;
    padding-right: 0.1rem;
    color: #d3d3d3;
}

.filled {
    color: #FF9F1C;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
}





@media screen and (min-width: 1024px) {
    .wrapper {
        grid-template-columns: repeat(3, 1fr);
        max-width: 1200px;
        margin: 0 auto;
    }


}