<h1>Listado de restaurantes</h1>
<mat-list>
    <mat-list-item *ngFor="let restaurant of restaurants" class="restaurant-list-item" 
    [routerLink]="['/restaurants', restaurant.restaurantId]">
        <h2>{{ restaurant.name }}</h2>
        <p>{{ restaurant.address }}</p>
        <p>{{ restaurant.typeFood }}</p>
        <div>
            <span>Precio medio: </span>
            <span>{{ restaurant.averagePrice }} </span>
            <span>&#8364;</span>
        </div>
        <div>
            <span>Valoración: </span>
            <span>{{ restaurant.rating }}</span>
        </div>
        <mat-divider [inset]="true"></mat-divider>
    </mat-list-item>
</mat-list>