<div class="container-register">

  <h2>Crear nueva cuenta</h2>

  <form [formGroup]="registerForm" (ngSubmit)="save()" class="register">

    <mat-form-field class="input">
      <mat-label>Nombre de usuario (userName)</mat-label>
      <input matInput type="text" formControlName="userName">
      <mat-icon matSuffix>face</mat-icon>
      <mat-error *ngIf="registerForm.get('userName')?.touched &&
                        registerForm.get('userName')?.getError('required')">
        Usuario obligatorio.
      </mat-error>
    </mat-form-field>

    <mat-form-field class="input">
      <mat-label>Email</mat-label>
      <input matInput type="email" formControlName="email">
      <mat-icon matSuffix>email</mat-icon>
      <mat-error *ngIf="registerForm.get('email')?.invalid &&
                          registerForm.get('email')?.touched &&
                          registerForm.get('email')?.getError('required')">
        Email obligatorio.
      </mat-error>
      <mat-error *ngIf="registerForm.get('email')?.invalid &&
                          registerForm.get('email')?.touched &&
                          registerForm.get('email')?.getError('email')">
        Formato email incorrecto.
      </mat-error>
    </mat-form-field>

    <mat-form-field class="input password">
      <mat-label>Contraseña</mat-label>
      <input matInput type="password" formControlName="password">
      <!-- <button mat-icon-button matSuffix (click)="hideRegister = !hideRegister">
        <mat-icon>{{hideRegister? 'visibility_off' : 'visibility'}}</mat-icon>
      </button> -->
      <mat-error *ngIf="registerForm.get('password')?.invalid &&
              registerForm.get('password')?.touched &&
              registerForm.get('password')?.getError('required')">
        Contraseña obligatoria.
      </mat-error>
      <mat-error *ngIf="registerForm.get('password')?.invalid &&
              registerForm.get('password')?.touched &&
              registerForm.get('password')?.getError('pattern')">
        Contraseña debe ser entre 8 y 20 caracteres utilizando letras, números.
      </mat-error>
    </mat-form-field>
    <!-- 
    <mat-form-field class="input passwordConfirm">
      <mat-label> Confirmar Contraseña</mat-label>
      <input matInput type="password" formControlName="passwordConfirm">
     
      <mat-error *ngIf="registerForm.get('passwordConfirm')?.invalid &&
              registerForm.get('passwordConfirm')?.touched &&
              registerForm.get('passwordConfirm')?.getError('required')">
        Contraseña obligatoria.
      </mat-error>
      <mat-error *ngIf="registerForm.get('passwordConfirm')?.invalid &&
              registerForm.get('passwordConfirm')?.touched &&
              registerForm.get('passwordConfirm')?.getError('pattern')">
        Contraseña debe ser entre 8 y 20 caracteres utilizando letras, números.
      </mat-error>
      <mat-error *ngIf="registerForm.getError('confirmError') && registerForm.get('passwordConfirm')?.touched">
        Las contraseñas no coinciden
      </mat-error>

    </mat-form-field> -->
    <mat-form-field class="input password">
      <mat-label>Contraseña confirm</mat-label>
      <input matInput type="password" formControlName="passwordConfirm">
      <!-- <button mat-icon-button matSuffix (click)="hideRegister = !hideRegister">
        <mat-icon>{{hideRegister? 'visibility_off' : 'visibility'}}</mat-icon>
      </button> -->
      <small style="color:red; font-size:10px;" *ngIf="
     
      registerForm?.getError('confirmError')">
        La contraseña no coincide.
    </small>
    </mat-form-field>


    <div>
      <mat-checkbox formControlName="isRestaurant">¿Eres Restaurante?</mat-checkbox>
    </div>

    <mat-checkbox formControlName="acceptConditions" class="checkbox">He leído y acepto los términos y
      condiciones.</mat-checkbox>
    <mat-error *ngIf="registerForm.get('acceptConditions')?.invalid && registerForm.get('acceptConditions')?.touched">
      Es obligatorio aceptar condiciones
    </mat-error>

    <button mat-fab extended type="submit" [disabled]="registerForm.invalid" class="button-submit">
      <mat-icon class="icon-form">send</mat-icon>
      Enviar
    </button>
  </form>

</div>