<div class="container-register">

  <h2>Crear nueva cuenta</h2>

  <form [formGroup]="registerForm" (ngSubmit)="save()" class="register">

    <mat-form-field class="input">
      <mat-label>Nombre de usuario (username)</mat-label>
      <input matInput type="text" formControlName="username">
      <mat-error *ngIf="registerForm.get('username')?.touched &&
                        registerForm.get('username')?.getError('required')">
        Usuario obligatorio.
      </mat-error>
    </mat-form-field>

    <mat-form-field class="input">
      <mat-label>Email</mat-label>
      <input matInput type="email" formControlName="email">
      <mat-error *ngIf="registerForm.get('email')?.invalid &&
                          registerForm.get('email')?.touched &&
                          registerForm.get('email')?.getError('required')">
        Email obligatorio.
      </mat-error>
      <mat-error *ngIf="registerForm.get('email')?.invalid &&
                          registerForm.get('email')?.touched &&
                          registerForm.get('email')?.getError('email')">
        Formato email incorrecto.
      </mat-error>
    </mat-form-field>

    <mat-form-field class="input password">
      <mat-label>Contraseña</mat-label>
      <input matInput type="password" formControlName="password">
      <mat-error *ngIf="registerForm.get('password')?.invalid &&
              registerForm.get('password')?.touched &&
              registerForm.get('password')?.getError('required')">
        Contraseña obligatoria.
      </mat-error>
      <mat-error *ngIf="registerForm.get('password')?.invalid &&
              registerForm.get('password')?.touched &&
              registerForm.get('password')?.getError('pattern')">
        Contraseña debe ser entre 8 y 20 caracteres utilizando letras, números.
      </mat-error>
    </mat-form-field>

    <mat-checkbox formControlName="acceptConditions" class="checkbox">He leído y acepto los términos y
      condiciones.</mat-checkbox>
    <mat-error *ngIf="registerForm.get('acceptConditions')?.invalid && registerForm.get('acceptConditions')?.touched">
      Es obligatorio aceptar condiciones
    </mat-error>

    <button mat-fab extended type="submit" [disabled]="registerForm.invalid" class="button-submit">
      Enviar
    </button>
  </form>

</div>