.login {
    max-width: 450px;
width: 100%;
margin: 0 auto;
}

.button {
    background-color: orange;

}


mat-form-field {
    display: block;
}

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

.button-submit {
    background-color: var(--primary_color);
    max-width: 280px;
    width: 100%;
    color: var(--white_color);
    font-size: 1.2em;
    height: 50px;
    font-weight: bold;
    justify-self: center;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.button-submit:disabled {
    background-color: rgb(245, 245, 245);
    color: var(--light_grey_color);
}

.button-submit .icon-form {
    color: var(--white_color);
    margin-right: 12px;
}

.button-submit:disabled .icon-form {
    color: var(--light_grey_color);
    margin-right: 12px;
}

.input {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.container-login{
    padding-top: 550px;
}