<form [formGroup]="registerForm" (ngSubmit)="save()">
    <h1>REGISTRO NUEVO USUARIO</h1>

    <mat-form-field>
        <label>Nombre: </label>
        <input matInput type="text" formControlName="firstName">
    </mat-form-field>
    <mat-form-field>
        <label>Apellido: </label>
        <input matInput type="text" formControlName="lastName">
    </mat-form-field>

    <mat-form-field>
        <label>Email: </label>
        <input type="email" matInput formControlName="email" placeholder="Ex. pat@example.com">
        <mat-icon matSuffix>email</mat-icon>
        <mat-hint>Te enviaremos un correo para la verificación.</mat-hint>
        <mat-error *ngIf="registerForm.get('email')?.invalid &&
                          registerForm.get('email')?.touched &&
                          registerForm.get('email')?.getError('required')">
            Email obligatorio.
        </mat-error>
        <mat-error *ngIf="registerForm.get('email')?.invalid &&
                          registerForm.get('email')?.touched &&
                          registerForm.get('email')?.getError('email')">
            Formato email incorrecto.
        </mat-error>
    </mat-form-field>

    <mat-form-field>
        <label>Contraseña: </label>
        <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
        <button mat-icon-button matSuffix (click)="hide = !hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="registerForm.get('password')?.invalid &&
              registerForm.get('password')?.touched &&
              registerForm.get('password')?.getError('required')">
            Contraseña obligatoria.
        </mat-error>
        <mat-error *ngIf="registerForm.get('password')?.invalid &&
              registerForm.get('password')?.touched &&
              registerForm.get('password')?.getError('pattern')">
            Contraseña debe ser entre 8 y 20 caracteres utilizando letras, números.
        </mat-error>
    </mat-form-field>

    <mat-form-field>
        <label for="passwordConfirm">Confirmar contraseña: </label>
        <input type="password" id="passwordConfirm" formControlName="passwordConfirm">
        <div *ngIf="registerForm.get('passwordConfirm')?.invalid && registerForm.get('passwordConfirm')?.touched">
            <span *ngIf="registerForm.get('passwordConfirm')?.getError('pattern')">
                Debe contener entre 8 y 20 caracteres: minúscula, mayúscula, número o carácter especial $ % & / ( )
            </span>
        </div>
        <div *ngIf="registerForm.getError('confirmError') && registerForm.get('passwordConfirm')?.touched">
            <span>
                Las contraseñas no coinciden.
            </span>
        </div>
    </mat-form-field>

    <mat-form-field>
        <label>Teléfono: </label>
        <input matInput formControlName="phone" required>
        <mat-icon matPrefix>phone</mat-icon>
        <mat-error *ngIf="registerForm.get('phone')?.getError('pattern')">
            El teléfono debe tener 9 dígitos y empezar por 6,7 o 9
        </mat-error>
    </mat-form-field>

    <mat-form-field>
        <label>Nombre usuario: </label>
        <input matInput type="text" formControlName="firstName">
    </mat-form-field>

    <mat-form-field>
        <mat-label for="avatar">Foto de perfil o avatar:</mat-label>
        <img *ngIf="imageSrc" src="{{imageSrc}}" style="max-width: 150px;">
        <input type="file" (change)="uploadFile($event)">
    </mat-form-field>
    <div>
        <mat-checkbox formControlName="acceptConditions" [(ngModel)]="checked">He leído y acepto los términos y
            condiciones.</mat-checkbox>
        <mat-error
            *ngIf="registerForm.get('acceptConditions')?.invalid && registerForm.get('acceptConditions')?.touched">
            Es obligatorio aceptar condiciones
        </mat-error>
    </div>

    <div>
        <button mat-button diable extended type="submit" [disabled]="registerForm.invalid" class="button-submit">
            <mat-icon>send</mat-icon>
            Enviar
        </button>
    </div>
</form>